@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Contoso University is an ASP.NET Core Razor Pages web app 
                    with Entity Framework Core that runs on Azure.
                    .
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    You can create, update and delete students, courses or directions.
                </p>
                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    To add a new student click on the "Students" tab,
                    to add a new course click on the "Courses" tab,
                    to add a new direction click on the "Directions" tab.
                </p>
            </div>
        </div>
    </div>
</div>
